<!DOCTYPE html>
<html ng-app="myModule">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9">
        <title>Appendix-B</title>
        <meta name="description" content="Wireframe for Appendix-B">
        <meta name="author" content="Dean Vonk">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" media="screen" href="font-awesome-4.0.3/css/font-awesome.min.css">
        <!-- DataTable Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/media/css/jquery.dataTables.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/AutoFill/css/dataTables.autoFill.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/ColReorder/css/dataTables.colReorder.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/ColVis/css/dataTables.colVis.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/FixedColumns/css/dataTables.fixedColumns.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/FixedHeader/css/dataTables.fixedHeader.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/KeyTable/css/dataTables.keyTable.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/Scroller/css/dataTables.scroller.css">
        <link rel="stylesheet" type="text/css" media="screen" href="js/datatables/extensions/TableTools/css/dataTables.tableTools.css">
        <!-- MaxAdmin  Styles : Please note (maxadmin-production.css) was created using LESS variables -->
        <link rel="stylesheet" type="text/css" media="screen" href="css/maxadmin-production_unminified.css">
        <link rel="stylesheet" type="text/css" media="screen" href="css/maxadmin-skins.css">
        <link rel="stylesheet" type="text/css" media="screen" href="css/demo.css">
        <!-- GOOGLE FONT -->
        <link rel="stylesheet" href="css/fonts.google.css">
        <!--[if lt IE 9]>
            <script type='text/javascript' src="js/html5.js"></script>
        <![endif]-->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.4/angular.js"></script>
        <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>

        <!--link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/-->
        <style>
            .modal-add-window .modal-dialog {
                width:400px;
            }
            .modal-edit-window .modal-dialog {
                width:900px;
            }
        </style>
        <script type="text/javascript">
            angular.module('myModule', ['ui.bootstrap']);
            var ModalDemoCtrl = function ($scope, $modal, $log) {
              $scope.items = ['item1', 'item2', 'item3'];
              $scope.open = function () {
                var modalInstance = $modal.open({
                  templateUrl: 'app/views/editForm.html?' + new Date().getTime(),
                  controller: ModalInstanceCtrl,
                  windowClass: 'modal-edit-window',
                  resolve: {
                    items: function () {
                      return $scope.items;
                    }
                  }
                });
                modalInstance.result.then(function (selectedItem) {
                  $scope.selected = selectedItem;
                }, function () {
                  $log.info('Modal dismissed at: ' + new Date());
                });
              };
              $scope.openAdd = function () {
                var modalInstance = $modal.open({
                  templateUrl: 'app/views/addForm.html?' + new Date().getTime(),
                  controller: ModalInstanceCtrl,
                  windowClass: 'modal-add-window',
                  resolve: {
                    items: function () {
                      return $scope.items;
                    }
                  }
                });
                modalInstance.result.then(function (selectedItem) {
                  $scope.selected = selectedItem;
                }, function () {
                  $log.info('Modal dismissed at: ' + new Date());
                });
              };
            };
            // Please note that $modalInstance represents a modal window (instance) dependency.
            // It is not the same as the $modal service used above.
            var ModalInstanceCtrl = function ($scope, $modalInstance, items) {
              $scope.items = items;
              $scope.selected = {
                item: $scope.items[0]
              };
              $scope.ok = function () {
                $modalInstance.close($scope.selected.item);
              };
              $scope.cancel = function () {
                $modalInstance.dismiss('cancel');
              };
            };
            var DatepickerDemoCtrl = function ($scope) {
              $scope.today = function() {
                $scope.dt = new Date();
              };
//              $scope.today();
              $scope.showWeeks = true;
              // $scope.toggleWeeks = function () {
              //   $scope.showWeeks = ! $scope.showWeeks;
              // };
              $scope.clear = function () {
                $scope.dt = null;
              };
              // Disable weekend selection
              // $scope.disabled = function(date, mode) {
              //   return ( mode === 'day' && ( date.getDay() === 0 || date.getDay() === 6 ) );
              // };
              // $scope.toggleMin = function() {
              //   $scope.minDate = ( $scope.minDate ) ? null : new Date();
              // };
              // $scope.toggleMin();
              $scope.open = function($event) {
                $event.preventDefault();
                $event.stopPropagation();
                $scope.opened = true;
              };
              $scope.dateOptions = {
                'year-format': "'yy'",
                'starting-day': 0
              };
              $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'shortDate'];
              $scope.format = $scope.formats[0];
            };
        </script>
    </head>
    <body>
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->
    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">
            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo">
                    <!--<img src="img/logo.png" alt="MaxAdmin"> -->
                    <span style="font-family: 'Open Sans', Arial, Helvetica, Sans-Serif;font-weight: 300;letter-spacing: -1px;font-size: 18px;margin: 10px 0;">Appendix-B</span>
            </span>
            <!-- END LOGO PLACEHOLDER -->
            <!-- Note: The activity badge color changes when clicked and resets the number to 0
                    Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
            <!--<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 21 </b> </span>-->
            <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
            <div class="ajax-dropdown">
                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default">
                        <!--<input type="radio" name="activity" id="#">-->
                        Msgs (14)
                    </label>
                    <label class="btn btn-default">
                        <!--<input type="radio" name="activity" id="#">-->
                        notify (3)
                    </label>
                    <label class="btn btn-default">
                        <!--<input type="radio" name="activity" id="#">-->
                        Tasks (4)
                    </label>
                </div>
                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">
                    <div class="alert alert-transparent">
                        <h4>Click a button to show messages here</h4>
                        This blank page message helps protect your privacy, or you can show the first message here automatically.
                    </div>
                    <i class="fa fa-lock fa-4x fa-border"></i>
                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span> Last updated on: 12/12/2013 9:43AM
                    <button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
                    <i class="fa fa-refresh">
                    ::before
                    </i>
                    </button> </span>
                <!-- end footer -->
            </div>
            <!-- END AJAX-DROPDOWN -->
        </div>
        <!-- projects dropdown -->
        <div id="project-context">
            <span class="label">Version:</span>
            <span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown">Q12014</span>
        </div>
        <!-- end projects dropdown -->
        <!-- pulled right: nav area -->
        <div class="pull-right">
            <!-- collapse menu button -->
            <!--<div id="hide-menu" class="btn-header pull-right">-->
            <!--<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>-->
            <!--</div>-->
            <!-- end collapse menu -->
            <!-- logout button -->
            <div id="logout" class="btn-header transparent pull-right">
                <span> <a href="index.html" title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
            </div>
            <!-- end logout button -->
            <!-- search mobile button (this is hidden till mobile view port) -->
            <div id="search-mobile" class="btn-header transparent pull-right">
                <span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
            </div>
            <!-- end search mobile button -->
        </div>
        <!-- end pulled right: nav area -->
    </header>
    <!-- END HEADER -->
    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">
        <!-- User info -->
        <!--<div class="login-info">-->
        <!--<span> &lt;!&ndash; User image size is adjusted inside CSS, it should stay as it &ndash;&gt;  <a href="javascript:void(0);" id="show-shortcut">john.doe <i class="fa fa-angle-down"></i></a> </span>-->
        <!--</div>-->
        <!-- end user info -->
        <!-- NAVIGATION : This navigation is also responsive
                To make this navigation dynamic please make sure to link the node
                (the reference to the nav > ul) after page load. Or the navigation
                will not initialize.
                -->
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
                    Please note that these links work a bit different than
                    traditional hre="" links. See documentation for details.
                    -->
            <ul>
                <!--<li>-->
                <!--<a href="#" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>-->
                <!--</li>-->
                <li>
                    <a href="#"><i class="fa fa-lg fa-fw fa-search"></i> <span class="menu-item-parent">Search</span></a>
                </li>
                <li>
                    <a href="#" title="Reports"><i class="fa fa-lg fa-fw fa-tasks"></i> <span class="menu-item-parent">Reports</span></a>
                </li>
            </ul>
        </nav>
        <span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>
    </aside>
    <!-- END NAVIGATION -->
    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <!-- RIBBON -->
        <div id="ribbon">
            <span class="ribbon-button-alignment"> <span id="refresh" class="btn btn-ribbon" data-title="refresh"  rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true"><i class="fa fa-refresh"></i></span> </span>
            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li>
                    Search Page
                </li>
            </ol>
            <!-- end breadcrumb -->
            <!-- You can also add more buttons to the
                    ribbon for further usability
                    
                    Example below:
                    
                    <span class="ribbon-button-alignment pull-right">
                    <span id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa-grid"></i> Change Grid</span>
                    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa-plus"></i> Add</span>
                    <span id="search" class="btn btn-ribbon" data-title="search"><i class="fa-search"></i> <span class="hidden-mobile">Search</span></span>
                    </span> -->
        </div>
        <!-- END RIBBON -->
        <!-- MAIN CONTENT -->
        <div id="content">
            <!-- row -->
            <div class="row">
                <div class="col-sm-12">
                    <ul id="myTab1" class="nav nav-tabs bordered">
                        <li class="active">
                            <a href="#s1" data-toggle="tab">Search All <i class="fa fa-caret-down"></i></a>
                        </li>
                        <li>
                            <a href="#s3" data-toggle="tab">Search History</a>
                        </li>
                        <li class="pull-right hidden-mobile">
                            <a href="javascript:void(0);"> <span class="note"><span id="record-count-1">0</span> results (<span id="ajax-duration">0.00</span> seconds) </span> 
                            </a>
                        </li>
                    </ul>
                    <div id="myTabContent1" class="tab-content bg-color-white padding-10">
                        <div class="tab-pane fade in active" id="s1">
                            <h1> Search <span class="semi-bold">Everything</span></h1>
                            <br>
                            <!-- checkbox options -->
                            <div class="widget-body no-padding">
                                <form class="max-form">
                                    <fieldset>
                                        <section>
                                            <label class="label">Inline checkboxes</label>
                                            <div class="inline-group">
                                                <label class="checkbox">
                                                    <input type="checkbox" id="search-everything" name="checkbox-inline" checked="checked">
                                                    <i></i>Everything</label>
                                                <label class="checkbox">
                                                    <input type="checkbox" id="search-room-code" name="checkbox-inline">
                                                    <i></i>Room Code</label>
                                                <label class="checkbox">
                                                    <input type="checkbox" id="search-room-function" name="checkbox-inline">
                                                    <i></i>Room Function</label>
                                            </div>
                                        </section>
                                    </fieldset>
                                </form>
                            </div>
                            <br>
                            <div class="input-group input-group-lg hidden-mobile">
                                <div class="well well-sm" style="width: 100%;margin-bottom: 0px;">
                                    <div class="input-group">
                                        <input class="form-control input-lg" type="text" id="search-value" placeholder="Search for a product...">
                                        <span class="input-group-addon"><i id="search-button" class="fa fa-fw fa-lg fa-search"></i></span>
                                    </div>
                                </div>
                            </div>
                            <h1 class="font-md" style="margin-bottom: 40px;"> Search Results for <span class="semi-bold">Everything</span><small class="text-danger"> &nbsp;&nbsp;(<span id="record-count-2">0</span> results)</small></h1>
                            <br>
                            <br>
                            <div ng-controller="ModalDemoCtrl">
                                <button class="btn btn-default ColVis_Button" ng-click="openAdd()" tooltip="Add room">Add Room</button><br/><br/><br/><br/>
                            </div>
                            <div ng-controller="ModalDemoCtrl" id="table-div">
                                <table id="records" class="table table-striped table-bordered table-hover" width="100%">
                                    <thead>
                                        <tr>
                                            <th class="record-id">ID</th>
                                            <th class="room-code">Room Code</th>
                                            <th class="room-function">Room Function</th>
                                            <th class="code">Code</th>
                                            <th class="data">Data</th>
                                            <th class="status">Status</th>
                                            <th class="last-modified">Last Modified</th>
                                            <th class="actions">Actions</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="s3">
                            <h1> Search <span class="semi-bold">history</span></h1>
                            <p class="alert alert-info">
                                Your search history is turned off.
                            </p>
                            <span class="onoffswitch-title">Auto save Search History</span>
                            <span class="onoffswitch">
                                <input type="checkbox" name="save_history" class="onoffswitch-checkbox" id="save_history" checked="checked">
                                <label class="onoffswitch-label" for="save_history"> <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>  <span class="onoffswitch-switch"></span> 
                            </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- END MAIN CONTENT -->
    </div>
    <!-- END MAIN PANEL -->
    <!--================================================== -->
    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="js/plugin/pace/pace.min.js"></script>
    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>-->
    <script>
        if (!window.jQuery) {
            //                document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
            document.write('<script src="js/libs/jquery-1.11.0.js"><\/script>');
        }
    </script>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>-->
    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>
    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events
            <script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->
    <!-- BOOTSTRAP JS -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- SPARKLINES -->
    <script src="js/plugin/sparkline/jquery.sparkline.min.js"></script>
    <!-- JQUERY VALIDATE -->
    <script src="js/plugin/jquery-validate/jquery.validate.min.js"></script>
    <!-- JQUERY MASKED INPUT -->
    <script src="js/plugin/masked-input/jquery.maskedinput.min.js"></script>
    <!-- JQUERY SELECT2 INPUT -->
    <script src="js/plugin/select2/select2.min.js"></script>
    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>
    <!-- browser msie issue fix -->
    <script src="js/plugin/msie-fix/jquery.mb.browser.min.js"></script>
    <!-- SmartClick: For mobile devices -->
    <script src="js/plugin/smartclick/smartclick.js"></script>
    <!--[if IE 7]>
        <h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
        <![endif]-->
    <!-- Demo purpose only -->
    <script src="js/demo.js"></script>
    <!-- MAIN APP JS FILE -->
    <script src="js/app.js"></script>
    <!-- PAGE RELATED PLUGIN(S) -->
    <script src="js/datatables/media/js/jquery.dataTables.js"></script>
    <script src="js/datatables/extensions/AutoFill/js/dataTables.autoFill.js"></script>
    <script src="js/datatables/extensions/ColReorder/js/dataTables.colReorder.js"></script>
    <script src="js/datatables/extensions/ColVis/js/dataTables.colVis.js"></script>
    <script src="js/datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
    <script src="js/datatables/extensions/FixedHeader/js/dataTables.fixedHeader.js"></script>
    <script src="js/datatables/extensions/KeyTable/js/dataTables.keyTable.js"></script>
    <script src="js/datatables/extensions/Scroller/js/dataTables.scroller.js"></script>
    <script src="js/datatables/extensions/TableTools/js/dataTables.tableTools.js"></script>
    <!--<script src="js/plugin/datatables/DT_bootstrap.js"></script>-->
    <script type="text/javascript">
        // DO NOT REMOVE : GLOBAL FUNCTIONS!

        $(document).ready(function () {

            pageSetUp();

            $("#search-project").focus();

            var dataTablesAjaxStartTime = undefined;
            var dataTablesAjaxEndTime = undefined;

            $('#records')
                .on('preXhr.dt', function ( e, settings, data ) {
                    dataTablesAjaxStartTime = new Date().getTime();
                })
                .on('xhr.dt', function (e, settings, json) {
                    dataTablesAjaxEndTime = new Date().getTime();
                    var dataTablesAjaxDuration = dataTablesAjaxEndTime - dataTablesAjaxStartTime;
                    var recordsFiltered = json.recordsFiltered;
                    $('#record-count-1').html(recordsFiltered);
                    $('#record-count-2').html(recordsFiltered);
                    $('#ajax-duration').html((dataTablesAjaxDuration * .001).toFixed(2));
                })
                .on('draw.dt', function (e, settings, json) {
                    // compile dynamic DOM so that AngularJS is aware of the new DOM, i.e. so that ng-click works.
                    angular.element(document).injector().invoke(function($compile) {
                        $div = $('#table-div')[0];
                        var scope = angular.element($div).scope();
                        $compile($div)(scope);
                    })
                })
                .dataTable({
                    "serverSide": true,
                    "processing": true,
                    "searching": true,
                    "ajax": {
                        "url": "mockdata.json",
                        "dataSrc": "data",
                        "type": "GET",
                        "data": function ( d ) {
                            var searchColumns = [];
                            if ($('#search-everything').prop('checked') == true) {
                                searchColumns.push('everything');
                            }
                            if ($('#search-room-code').prop('checked') == true) {
                                searchColumns.push('room-code');
                            }
                            if ($('#search-room-function').prop('checked') == true) {
                                searchColumns.push('room-function');
                            }
                            d.searchColumns = searchColumns.join(",");
                        }
                    },
                    "columns": [
                        {"name": "ID",              "data": "id",           "targets": "record-id",     "visible": false},
                        {
                            "name": "Room Code",        "data": "roomCode",          "targets": "room-code",
                            "render": function (data, type, full) {
                                return '<a href="'+data+'">' + data + '</a>';
                            }
                        },
                        {"name": "Room Function",   "data": "roomFunction", "targets": "room-function"},
                        {"name": "Code",            "data": "code",         "targets": "code"},
                        {"name": "Data",            "data": "data",         "targets": "data"},
                        {
                            "name": "Status",       "data": "status",       "targets": "status",
                            "render": function (data, type, full) {
                                if (data == 'Approved') {
                                    // return '<span ng-class="{\'label label-success\': row.isActive, \'label label-warning\': !row.isActive}" class="ng-binding label label-success">Approved</span>';
                                    return '<span class="ng-binding label label-success">Approved</span>';
                                }
                                else {
                                    // return '<span ng-class="{\'label label-success\': row.isActive, \'label label-warning\': !row.isActive}" class="ng-binding label label-warning">Pending</span>';
                                    return '<span class="ng-binding label label-warning">Changes Pending</span>';
                                }
                            }
                        },
                        {"name": "Last Modified",   "data": "lastModified", "targets": "last-modified"},
                        {"name": "Actions",         "data": null,           "targets": "actions",
                            "render": function (data, type, full) {
                                return '<button class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-edit"></i></button>';
                            }
                        }
                    ],
                    "dom": 'C<"clear">T<"clear">lfrtip',
                    "colVis": {
                        "buttonText": "Column Displayed",
                        "restore": "Restore",
                        "showAll": "Show all",
                        "exclude": [0, 5, 7] // disable show/hide on ID, Status, and Actions
                    },
                    "tableTools": {
                        "sSwfPath": "js/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf",
                        "aButtons": [
                            "copy",
                            "print",
                            {
                                "sExtends":    "collection",
                                "sButtonText": "Save",
                                "aButtons":    [ "csv", "xls", "pdf" ]
                            }
                        ]
                    }
                }); // eo datatable
            var datatable = $('#records').DataTable();
            $('#search-button').on( 'click', function () {
                var searchString = $('#search-value').val();
                datatable.search(searchString).draw();
            });
            // hide the default dataTables search box so we can use our custom box (see element "search-value")
            $('#records_filter').hide();
        });
    </script>
</body>
</html>