<div class="modal-header">
    <h3>Add Room</h3>
</div>
<div class="modal-body">
    <table class="table table-bordered table-condensed">
        <tr>
            <th style="width:130px;">Field</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Room Code</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>Room Function <span style="color:red;">(1st line of text)</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">Room Function</span> <span style="color:red;">(2nd line of text)</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>Code</td>
            <td><input class="form-control input" type="text" id="room-code-new" value="Z" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>FL</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">FL</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>WL</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">WL</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>CLG</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">CLG</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>CLG HT</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>DOOR SIZE</td>
            <td><input class="form-control input" type="text" id="room-code-new" value="8&apos;0&quot;" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>NC</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">STC</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>FLR LOAD</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>LEV</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td><span style="color:lightgreen;">LEV</span></td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>P</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>LT</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>MA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>DA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>LA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>PA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>MV</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>DSV</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>OE</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>LDE</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>O</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>NO</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>IA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>WAGD</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>BL</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>AC</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>OA</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>SM</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>WN</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>R<br/>H</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>IN</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>FN</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>E<br/>X</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
        <tr>
            <td>N</td>
            <td><input class="form-control input" type="text" id="room-code-new" placeholder="New value"/></td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Save</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>